<app-admin-navbar></app-admin-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-3">
                <h1 class="text-center">Search Security</h1>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Security Name</label>
                    <input name="name"  type="text" class="form-control">
                </div>
                
              
              
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <button  class="btn btn-outline-success">Search</button>
                </div>
            </div>


        </div>
    </div>
</div>
