
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-13 col-xxl-3">
            
            <div class="card mt-3" >
                
                <div class="card-body">
                    <img src="https://static.vecteezy.com/system/resources/previews/009/385/033/original/little-kid-face-expression-clipart-design-illustration-free-png.png" class="card-img-top" style="width: 50px; height: 150px;">
                  <h5 class="card-title">{{data[0].empName}}</h5>
                  
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Email:{{data[0].empEmail}}</li>
                  <li class="list-group-item">Designation:{{data[0].empDesignation}}</li>
                  <li class="list-group-item">Contact:{{data[0].empPhone}}</li>
                  <li class="list-group-item">Username:{{data[0].username}}</li>
                </ul>
                
              </div>
        </div>
    </div>
</div>
