
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row-g-3 mt-3">
                <div class="card">
                    <div class="card-body">

                    
                <h1 class="text-center">Employee Login</h1>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Username</label>
                    <input name="username" [(ngModel)]="username" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Password</label>
                    <input name="password" [(ngModel)]="password" type="password" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center mt-3">
                    <button (click)="readValue()" class="btn btn-success">Login</button>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center mt-3">
                    <button routerLink="/adminLogin" class="btn btn-outline-success">--Admin login--</button>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center mt-3">
                    <button routerLink="/securityLogin" class="btn btn-outline-success">--Security login--</button>
                </div>

            </div>
            
        </div>
    </div>
</div>
    </div>
</div>

