<app-admin-navbar></app-admin-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-3">
                <h1 class="text-center">Add Employee</h1>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-control">Employee Name</label>
                    <input name="empName" [(ngModel)]="empName" type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-control">Employee Email</label>
                    <input name="empEmail" [(ngModel)]="empEmail" type="text" class= "form-control">

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <label for="" class="form-control">Designation</label>
                    <input name="empDesignation" [(ngModel)]="empDesignation" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-control">Phone</label>
                    <input name="empPhone" [(ngModel)]="empPhone" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-control">Username</label>
                    <input name="username" [(ngModel)]="username" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-control">Password</label>
                    <input name="password" [(ngModel)]="password" type="text" class="form-control">
                </div>
                    <button class="btn btn-outline-success text-center">Add</button>
                    
                    


                
            </div>
        </div>
    </div>
</div>
